<template>


  <div class="page">

    <notifications
      group="notification"
      position="top center"
    />
    <div>

      <div class="transaction-form">
        <label class="form-label">Form for send and receive money</label>

        <form>

          <div class="transaction-type">
            <label>
              <span>Type:</span>
              <div>
                <select v-model="form.type">
                  <option value="credit">Credit</option>
                  <option value="debit">Debit</option>
                </select>
              </div>
            </label>
          </div>

          <div class="transaction-amount">
            <label>
              <span>Amount:</span>
              <div>
                <input type="text" name="amount" v-model="form.amount"/>
              </div>
            </label>
          </div>

          <div>
            <a class="button button-gray" v-on:click="sendTransaction()">Send</a>
          </div>


        </form>

      </div>

      <div class="accounts-info">

        <div class="active-account">
          <label>Active</label>
          <div class="name">{{activeAccount.name}}</div>
          <div class="amount">Amount: <span>{{activeAccount.amount}}$</span></div>
        </div>

        <div class="passive-account">
          <label>Passive</label>
          <div class="name">{{passiveAccount.name}}</div>
          <div class="amount">Amount: <span>{{passiveAccount.amount}}$</span></div>
        </div>

      </div>

      <div class="accordion-titles">
        <div class="credit legendary"><label>Credit</label></div>
        <div class="debit legendary"><label>Debit</label></div>
      </div>

      <div class="list">
        <accoridon :items="transactionsList"></accoridon>
      </div>


    </div>

  </div>


</template>

<script>

  import axios from 'axios';
  import tools from './../services/tools'
  import Accoridon from "./accordion/Accordion";

  export default {
    name: 'MainPage',
    components: {Accoridon},
    data() {
      return {
        form: {
          type: 'debit',
          amount: '0'
        },
        activeAccount: {},
        passiveAccount: {},
        transactionsList: tools.getTransactionListToLocalStorage()
      }
    },
    methods: {
      sendTransaction() {

        if (this.form.amount <= 0) {
          this.showError('Transaction size should be more then zero')
          return
        }

        axios.post(tools.getUrl('history'), this.getOptionsForSendTransaction())
          .then((response) => {
            tools.addTransactionToLocalStorage(response.data);
            this.refreshAmount(response.data)
            this.transactionsList = tools.getTransactionListToLocalStorage();
          })
          .catch((error)  => {
            this.showError(error.response.data.error)
          });


      },
      getOptionsForSendTransaction(){

        var options =  {
          amount: this.form.amount,
          to: this.activeAccount.id,
          from: this.passiveAccount.id,
          type: this.form.type,
        }

        if (options.type === 'credit'){
            options.to = this.passiveAccount.id;
            options.from = this.activeAccount.id
        }

        return options;
      },
      refreshAmount(transactionInfo){

        if (transactionInfo.type === 'debit'){
          this.activeAccount.amount += parseInt(transactionInfo.amount, 10);
          this.passiveAccount.amount -= parseInt(transactionInfo.amount, 10);
        }else {
          this.activeAccount.amount -= parseInt(transactionInfo.amount, 10);
          this.passiveAccount.amount += parseInt(transactionInfo.amount, 10);
        }

      },
      showError(message){

        this.$notify({
          group: 'notification',
          type: 'error',
          title: 'Error',
          max: 3,
          duration: 2 * 1000,
          text: message
        });

      }
    },
    mounted() {

      axios.get(tools.getUrl('account'))
        .then((response) => {
          return this.activeAccount = response.data;
        })
        .catch((error) => console.log(error.response.data))
        .then(accaount => {

          if (this.transactionsList.length === 0) {
            axios.get(tools.getUrl('history/user/' + this.activeAccount.id))
              .then((response) => {
                this.transactionsList = response.data;
                tools.setTransactionListToLocalStorage(this.transactionsList)
              })
              .catch((error) => console.log(error.response));
          }

        });

      axios.get(tools.getUrl('account/passive'))
        .then((response) => {
          this.passiveAccount = response.data;
        })
        .catch((error) => console.log(error.response));


    }
  }
</script>

<style>

  .error {
    background: #E54D42;
  }

  .button {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .button-green {
    background-color: #4CAF50;
  }

  /* Green */
  .button-blue {
    background-color: #008CBA;
  }

  /* Blue */
  .button-red {
    background-color: #f44336;
  }

  /* Red */
  .button-gray {
    background-color: #e7e7e7;
    color: black;
  }

  /* Gray */
  .button-black {
    background-color: #555555;
  }

  /* Black */

  input[type=text], select {
    width: 100%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

</style>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .accounts-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .accounts-info .amount span, .accounts-info label {
    font-weight: 600;
    color: #646464
  }

  .active-account {
    margin-right: 50px;
  }

  .accordion-titles .credit label:before {
    margin-right: 10px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #FFA07A;
  }

  .accordion-titles .debit label:before {
    margin-right: 10px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #6DCA7D;
  }

  .accordion-titles label {
    min-width: 50px;
    padding: 10px;
  }

  .accordion-titles {
    padding: 25px;
  }

  .legendary {
    display: inline-block;
  }

  .transaction-form {
    margin: 25px auto;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 10px;
    width: auto;
    max-width: 400px;
  }

  .form-label, .form-label label span {
    color: #646464;
    font-size: 15px;
    font-weight: 600;
  }


</style>
