<template>
  <div class="accridon-item" :class="item.type">

      <div class="accrdion-item-title"  v-on:click="open">
        <span>{{item.amount}}$ - {{dateFormatter(item.createdAt)}}</span>
      </div>

      <div class="accordion-extra-data"  v-bind:class="{ opened: opened }">
        <ul>
          <li><label>id</label> - {{item.id}}</li>
          <li><label>amount</label> - {{item.amount}}</li>
          <li><label>type</label> - {{item.type}}</li>
          <li><label>createdAt</label> - {{dateFormatter(item.createdAt)}}</li>
        </ul>
      </div>

  </div>
</template>



<script>
  export default {
    name: 'AccordionItem',
    data() {
      return {
        opened: false
      }
    },
    props: {
      item: {
        type: Object
      }
    },
    methods: {
      open(){
        this.opened = !this.opened;
      },
      dateFormatter(date){
        var date = new Date(date);
        return date.toISOString().split('.')[0].replace('T', ' ')
      }
    },
    mounted(){

    }
  }
</script>

<style scoped>
  .accridon-item {
    width: 100%;
    text-align: left;
    float: left;
    background-color: #6DCA7D;
    border-radius: 10px;
    margin-top: 1px;
  }

  .accrdion-item-title {
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #444;
  }

  .accrdion-item-title:after{
    content: '>';
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    float: right;
    font-size: 20px;
    transform: rotate(90deg);
  }

  .credit {
    background-color: #FFA07A;
  }

  .accordion-extra-data {
    width: 100%;
    transition:all 0.3s linear;
    overflow: hidden;
    height: 0px;
  }

  .accordion-extra-data ul {
    list-style-type: none;
  }

  .accordion-extra-data.opened {
    height: 100px
  }

</style>
