<template>
  <div class="accordion">

    <div class="accordion-wrapper">
      <accordion-item v-for="transaction in items" :item="transaction"></accordion-item>
    </div>
  </div>
</template>

<script>
  import AccordionItem from "./AccordionItem";
  export default {
    name: 'accordion',
    components: {AccordionItem},
    props: {
      items: {
        type: Array
      }
    }
  }
</script>

<style scoped>


  .accordion-wrapper {
    max-width: 80%;
    margin: 0px auto;
    margin-bottom: 25px;
  }


</style>
